@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700");
body {
  line-height: 31px;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
  font-size: 17px;
  background-color: #fff;
  overflow-x: hidden;
}

p, .paragraph {
  font-weight: 300;
  color: #4d546f;
  font-size: 17px;
  line-height: 31px;
  font-family: "Poppins", sans-serif;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  color: #091337;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  line-height: 1.5;
}

h1, .h1 {
  font-size: 56px;
}

h2, .h2 {
  font-size: 43px;
}

h3, .h3 {
  font-size: 37px;
}

h4, .h4 {
  font-size: 22px;
}

h5, .h5 {
  font-size: 16px;
}

h6, .h6 {
  font-size: 13px;
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}

::-moz-selection {
  background: rgb(32, 165, 255);
  color: #fff;
}

::selection {
  background: rgb(32, 165, 255);
  color: #fff;
}

.btn-custom {
  font-size: 18px;
  font-family: "Poppins", sans-serif;
  text-transform: capitalize;
  padding: 15px 60px;
  font-weight: 400;
  border: 0;
  border-radius: 5px;
  position: relative;
  z-index: 1;
  transition: 0.2s ease;
}

.btn-primary-custom {
  background-image: linear-gradient(25deg, rgb(23, 255, 211) 0%, rgb(211, 252, 113) 95%);
  color: #091337;
  transition: background 1s ease-out;
}

.btn-primary-custom:hover {
  background: linear-gradient(205deg, rgb(23, 255, 211) 0%, rgb(211, 252, 113) 95%);
  color: #091337;
}

.btn-secondary-custom {
  background-image: linear-gradient(6deg, rgb(23, 255, 211) 0%, rgb(35, 227, 238) 100%);
  background-color: transparent;
  color: #091337;
}

.btn-secondary-custom:hover {
  background: linear-gradient(186deg, rgb(23, 255, 211) 0%, rgb(35, 227, 238) 100%);
  color: #091337;
}

.section {
  padding-top: 130px;
  padding-bottom: 130px;
}

.section-sm {
  padding-top: 40px;
  padding-bottom: 40px;
}

.section-lg {
  padding-top: 200px;
  padding-bottom: 200px;
}

.bg-primary-custom {
  background: #008dec !important;
}

.text-primary-custom {
  color: #008dec !important;
}

.text-dark-custom {
  color: #091337 !important;
}

.text-color {
  color: #4d546f;
}

.mb-30 {
  margin-bottom: 30px !important;
}

.mb-50 {
  margin-bottom: 50px !important;
}
