
p, .paragraph {
  font-weight: 300;
  color: #4d546f;
  font-size: 17px;
  line-height: 31px;
  font-family: "Poppins", sans-serif;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  color: #091337;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  line-height: 1.5;
}

h1, .h1 {
  font-size: 56px;
}

h2, .h2 {
  font-size: 43px;
}

h3, .h3 {
  font-size: 37px;
}

h4, .h4 {
  font-size: 22px;
}

h5, .h5 {
  font-size: 16px;
}

h6, .h6 {
  font-size: 13px;
}

.text-primary-custom {
  color: #008dec !important;
}

.text-dark-custom {
  color: #091337 !important;
}

.text-color {
  color: #4d546f;
}
